@import url('https://fonts.googleapis.com/css?family=Padauk:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*------------------------------------color */







/*------------------------------------Heading */
#nav {
    position: relative;
    text-align: center;
    padding: auto 0;
    text-transform: uppercase;
    font-family: "Padauk", sans-serif;
    font-weight: 500;
    display: block;
}








/*------------------------------------Section */








/*------------------------------------Footer */

